/* Swipe List */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: relative;
width: 390px;
height: 844px;

background: #FFFFFF;


/* Depth 0, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 0px;

width: 390px;
height: 844px;
min-height: 844px;

background: #171221;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 1, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 390px;
height: 492px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 2, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px 16px 8px;

width: 390px;
height: 72px;

background: #171221;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 3, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 310px;
height: 23px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* SwipeVerse */

width: 310px;
height: 23px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;
/* identical to box height, or 128% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 3, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;

width: 48px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Depth 4, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 24px;
max-width: 480px;
height: 48px;

border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Depth 5, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Depth 6, Frame 0 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Vector - 0 */

position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* Depth 7, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: absolute;
width: 20px;
height: 20px;
left: nanpx;
top: nanpx;

transform: matrix(1, 0, 0, 1, -nan, -nan);


/* Depth 2, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px;

width: 390px;
height: 252px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Depth 3, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;

width: 358px;
height: 220px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Depth 4, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;

width: 141px;
height: 220px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Depth 5, Frame 0 */

width: 128px;
height: 128px;
min-height: 128px;

background: url(.png);
border-radius: 64px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Depth 5, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 141px;
height: 76px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Depth 6, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 114px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Sophia, 24 */

width: 114px;
height: 28px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 28px;
/* identical to box height, or 127% */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 6, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 106px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* San Francisco */

width: 106px;
height: 24px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
text-align: center;

color: #A394C7;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 6, Frame 2 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 141px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Software Engineer */

width: 141px;
height: 24px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
text-align: center;

color: #A394C7;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 2, Frame 2 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px 16px 12px;

width: 390px;
height: 112px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* I'm a software engineer who loves hiking, reading, and exploring new places. Looking for someone who shares my passion for adventure and intellectual conversations. */

width: 358px;
height: 96px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 2, Frame 3 */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: flex-start;
align-content: flex-start;
padding: 8px 16px;
gap: 16px;

width: 390px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Depth 3, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 12px;
gap: 8px;

width: 85px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Depth 4, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Depth 5, Frame 0 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Vector - 0 */

position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;

background: #A394C7;


/* Depth 6, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 15px;
height: 15px;
left: nanpx;
top: nanpx;

transform: matrix(1, 0, 0, 1, -nan, -nan);


/* Depth 4, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 29px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Pass */

width: 29px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 20px;
/* identical to box height, or 154% */

color: #A394C7;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 3, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 12px;
gap: 8px;

width: 82px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Depth 4, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Depth 5, Frame 0 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Vector - 0 */

position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;

background: #A394C7;


/* Depth 6, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 21px;
height: 18px;
left: nanpx;
top: nanpx;

transform: matrix(1, 0, 0, 1, -nan, -nan);


/* Depth 4, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 26px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Like */

width: 26px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 20px;
/* identical to box height, or 154% */

color: #A394C7;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 1, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 390px;
height: 73px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Depth 2, Frame 0 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 16px 12px;
gap: 8px;

width: 390px;
height: 53px;

background: #211A33;
border-top: 1px solid #2E2447;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Depth 3, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 4px;

width: 83.5px;
height: 32px;

border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Depth 4, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 24px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Depth 5, Frame 0 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Vector - 0 */

position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* Depth 6, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 18px;
height: 19px;
left: nanpx;
top: nanpx;

transform: matrix(1, 0, 0, 1, -nan, -nan);


/* Depth 3, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 4px;

width: 83.5px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Depth 4, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 24px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Depth 5, Frame 0 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Vector - 0 */

position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;

background: #A394C7;


/* Depth 6, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 24px;
height: 15px;
left: nanpx;
top: nanpx;

transform: matrix(1, 0, 0, 1, -nan, -nan);


/* Depth 3, Frame 2 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 4px;

width: 83.5px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Depth 4, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 24px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Depth 5, Frame 0 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Vector - 0 */

position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;

background: #A394C7;


/* Depth 6, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 20px;
height: 19px;
left: nanpx;
top: nanpx;

transform: matrix(1, 0, 0, 1, -nan, -nan);


/* Depth 3, Frame 3 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 4px;

width: 83.5px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 1;


/* Depth 4, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 24px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Depth 5, Frame 0 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Vector - 0 */

position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;

background: #A394C7;


/* Depth 6, Frame 0 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 20px;
height: 19px;
left: nanpx;
top: nanpx;

transform: matrix(1, 0, 0, 1, -nan, -nan);


/* Depth 2, Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 390px;
height: 20px;

background: #211A33;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
